body {
    background-color: black;
}

/*
BEGINING CUSTOM HEADER STENCIL SECTION
*/
#header_stencil_main {
    width: 12.5rem;
}

#header_stencil_titleAndSignature {
    border: solid black;
    border-radius: 0% 0% 100% 0%;
    margin-bottom: -4rem;
    background-color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#header_stencil_title {
    color: black;
    line-height: 1.7rem;
    font-weight: 50;
    margin-bottom: 0%;
    text-align: left;
}

#header_stencil_signature {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 4.7rem;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 20;
}

#header_stencil_borders {
    width: 40%;
    margin-left: 3.7rem;
}

#header_stencil_borders > * {
    width: 2rem;
}

#header_stencil_border1 {
    border: solid darkturquoise;
    border-width: 0rem 0.1rem 0.5rem 0rem;
    border-radius: 0% 100% 100% 50%;
    padding: 1rem;
    margin-bottom: -3.5rem;
    box-shadow: -2rem -2rem -2rem -2rem black;
}

#header_stencil_border2 {
    border: solid fuchsia;
    border-width: 0rem 0.1rem 0.5rem 0rem;
    border-radius: 0% 80% 100% 50%;
    padding: 1rem;
    margin-bottom: -3.5rem;
    transform: rotate(-15deg);
}

#header_stencil_border3 {
    border: solid darkviolet;
    border-width: 0rem 0.1rem 0.5rem 0rem;
    border-radius: 0% 50% 100% 50%;
    padding: 1rem;
    transform: rotate(-28deg);
}

/*
END CUSTOM HEADER STENCIL SECTION
*/

#navDiv {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 75%;
    border-bottom: 2px solid blueviolet;
    border-radius: 20rem;
}

#navDiv > hr {
    color: blueviolet;
}

.albumButtons {
    border: 2px solid blueviolet;
    border-radius: 20rem;
    height: 10rem;
    width: 10rem;
    cursor: pointer;
}

.albumButtons > p {
    border-radius: 20rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.8rem;
    color: black;
    text-shadow: purple 0rem 0rem 0.1rem;
    background-color: rgba(255, 255, 255, 0.7);
}

#animalsAlbumButton {
    background-image: url("docs/assets/animals2_thumb.jpg");
    background-size: cover;
}

#animalsAlbumButton:hover > p {
    margin: auto;
    line-height: 5rem;
}

#carsAlbumButton {
    background-image: url("docs/assets/cars1_thumb.jpg");
    background-size: cover;
}

#carsAlbumButton:hover > p {
    margin: auto;
    line-height: 5rem;
}

#landscapesAlbumButton {
    background-image: url("docs/assets/landscapes1_thumb.jpg");
    background-size: cover;
}

#landscapesAlbumButton:hover > p {
    margin: auto;
    line-height: 5rem;
}

#imagesSection {
    min-height: 70vh;
    display: flex;
    justify-content: center;
}

#thumbnailsDiv {
    display: flex;
    flex-flow: column;
}

#thumbnailsDiv > img {
    color: white;
}

#thumbnailsDiv > img:hover {
    cursor: zoom-in;
}

#focusedImage {
    display: flex;
    flex-flow: column;
}

#removeImageButton {
    display: none;
    margin: auto;
    border: 2px solid blueviolet;
    border-radius: 20rem;
    color: white;
    background-color: black;
    width: 50%;
}

#removeImageButton:hover {
    background-color: white;
    color: black;
}

footer {
    margin-top: 2rem;
}

footer > p {
    text-align: center;
    color: white;
}
